html,
body {
	border:0;
	padding:0;
	margin:0;
}

body {
	font: 16px 'Helvetica Neue', Helvetica, Arial;
	font-weight: 300;
	line-height: 1.5;
	width: auto;
	background: #fafafa;
	color: #353535;
	font-smoothing: antialiased;
}

/*h1
{
	line-height: 18px;
}

h2
{
	line-height: 15px;
}*/

.input-config-view
{
	margin-top: 0;
	margin-bottom: 10px;
}

.output-config-view
{
	margin-top: 0;
	margin-bottom: 10px;
}

.section-title
{
	font-weight: bold;
	font-size:20px;
}

.subsection-title
{
	font-weight: bold;
}

.app
{
	margin:25px 25px 0 25px;
}

.modal-host
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.input-config-edit .onewire-config
{
	display: none;
}

.onewire .onewire-config
{
	display: block;
}